<h1><%= @game.name %> <small>(<%= @game.date %>)</small></h1>

<script type="text/javascript">
window.items = <%= raw render("items.json", game: @game) %>;
</script>
<div id="game_viewer" data-game-id="<%= @game.id %>"></div>