<h1><%= @game.name %> <small>(<%= @game.date %>)</small></h1>

<div id="play_game">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Steals</th>
      </tr>
    </thead>
    <tbody>
      <%= for item <- @game.items do %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.steals %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>