<h2>Edit item</h2>

<%= render "form.html", changeset: @changeset,
                        action: game_item_path(@conn, :update, @conn.assigns[:game], @item) %>

<%= link "Back", to: game_item_path(@conn, :index, @conn.assigns[:game]) %>
