<div class="jumbotron">
  <h2>Welcome to White Elephant!</h2>
  <p class="lead">Your white elephant gift exchange &mdash; better.</p>
</div>

<div class="row">
  <div class="col-sm-6">
    <%= link "Start a Game", to: game_path(@conn, :index), class: "btn btn-lg btn-success" %>
  </div>
  <div class="visible-xs-block"><br></div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-4">
        <div id="search_form"></div>
      </div>
    </div>
  </div>
</div>
