<div class="jumbotron">
  <h2>Welcome to White Elephant!</h2>
  <p class="lead">Your white elephant give exchange &mdash; better.</p>
  <%= link "Get started", to: game_path(@conn, :index), class: "btn btn-lg btn-success" %>
</div>
